*{
  font-family: "Noto Sans TC", sans-serif;
}
#menu-control{
  position: absolute;
  z-index: -2;
  opacity: 0;
}
.header{
  z-index: 900;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100% !important; 
   
   background-color: #f8f9fa;

  }

  

    .header h1{
      z-index: 2;
      font-size: 20pt;
      height: 40px;
      font-weight: 500;
      margin: 20px;
      line-height: 40px;
    }
    h1 a{
      text-decoration: none;
      color: #4e4e4e;
    }

  .menu-btn{
    height: 50px;
    width: 50px;
    border-radius: 10px !important;
    border: 2px solid #4e4e4e;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .menu-btn::before{
    content: "";
    position:absolute;
    height: 2px;
    left: 10px;
    width: 25px;
    border-radius: 5px !important;
    background-color: #4e4e4e;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 9px 0px #4e4e4e,
                0px -9px 0px #4e4e4e;
  }
  .menu-btn span{
    opacity: 0;
  }

  nav{
    z-index: -1;
    position: absolute;
    top: 80px;
    width: 100vh;
    height: 400px;
    background-color: #f8f9fa;
    top: -400px;
    transition: 0.5s;
    
  }
 
  .header .line{
    height: 1px;
    width: 380px;
    background-color:#908e8e;
    opacity: 50%;
    position: relative;
    left: 25px;
    top: -10px;
  }
  nav a{
    
    display: block;
    text-decoration: none;
    color: #4e4e4e;
    font-size: 16pt;
    font-weight: 500;
    margin: 40px;
    
  }
  .header ul{
    position: relative;
    top: -30px;
    
  }
  
  .dropdown-menu{
    height: 100px;
    
  }
  
  .dropdown-item{
    margin: 0;
    font-size: 12pt;
  }
  
  
  #menu-control:checked~.header nav{
    top: 80px;
  }

  @media screen and (min-width:768px){
    .menu-btn{display: none;}
    .header{
      display: flex;
      width: 100%;
    }
    nav{
      position: relative;
      display: flex;
      top: 0;
      height: auto;
      width: auto;
    }
    nav a{
      display: flex;
      align-items: center;
      margin: 0px 20px;
    }
    .header ul{ /* 還要再改 */
      height: 80px;
      position: absolute;
      right: -1200px;
      top: 25px;
    }
    
  }


.carouselExampleAutoplaying{
  width: 100%;
}
        
  
   .carousel{
    margin: 80px 0 0 0;
    display: flex;
    width: 100%;
   }
  
   .col-12{
   
    justify-content: center;
    align-items: center; 
   }

   .container{
    margin:  0px;
    width: 80%;
    /* position: relative;
    right:20px; */
   }
   
   .container h1{
    font-weight:500;
    font-size: pt;
    margin: 30px 0;
   }
  
.input-group{
  margin: 0 0 0 10px;
}

  .select{
    padding: 10px 0px;
    padding: 10px 0;
     }

    

  .input-group .btn{
    height: 100px;
    font-size:15pt;
  }

  .input-group .form-control{
    font-size:15pt;
    
  }
  
  .input-group .form-select{
    height: 100px;
    font-size:15pt;
    text-align: center;
  }
  
  .option{
    font-size:13pt;
  }

  .card-group{
    display: flex;
  }

  .card-group .col-3{
    margin: 0 10px;
  }
  .readmore-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 18pt;
    border: 1px solid rgba(64, 64, 64, 0.3);
    
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  
  .readmore-btn p {
    margin: 0; 
    line-height: 70px; 
    }
  
    .card-title{
      font-size: 20pt;
      font-weight: 500;
    }
    .col-3 .btn-primary,.card .btn-primary{
      /* display: none; */
      background-color: #ffffff ;
      color: #4e4e4e;
      border: 1px solid rgba(64, 64, 64, 0.3);
    }
    .col-3 .btn-primary:hover,.card .btn-primary:hover {
      background-color: #4e4e4e;
      color:#ffffff;
      border: 1px solid #4e4e4e;
  }


 .trend-btn{
    display: flex;
    justify-content: center;
    align-items: center; 
    @media (max-width: 767px){
      display: none;}
  }

  .trend-btn a{
    text-decoration: none !important;
    color: #4e4e4e ;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: 0.3s linear;
  }
  .trend-btn a:hover{
    background-color: #4e4e4e ;
    color: #e3e3e3;
    font-weight: 400;
  }

  .trend-btn p{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  

  .card-text{
    font-size: 13pt;
    font-weight: 400;
    color: #474747;
    width: 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .card h5{
    font-size: 15pt;
  }
  
      
  .card-body-t{
    
    display: flex;
    height: 120px;
    margin: 10px;
    justify-content: center;
    align-items: center; 
    
      }
      
  .card-body-t .text{
    
    position: absolute;
    left: 90px;
  }

  .card-body-t a{
    height: 40px;
    position: absolute;
    right: 20px;
    
    
  }
  .card{
    width: 100%;
  }
  .paragraph .rwd-trend{
    width: 100%;
    text-decoration: none;
  }

  .sign{
    width: 70px;
    height: 70px;
    margin: 0;
    position: absolute;
    left: 10px;
          }

  .sign p{
    height: 70px;
    
    display: flex;
    justify-content: center;
    align-items: center; 
    
    font-weight: 800;
    font-size: 40pt;
    }

    .t1 p, .t3 p{
      background: linear-gradient(to top, #fbae59, #ec6f2b, #fbae59);
   background: -webkit-linear-gradient(to top, #fbae59, #ec6f2b, #fbae59);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
    }

    .t2 p,.t4 p{
      background: linear-gradient(to top, #40aec7, #23587e, #40aec7);
   background: -webkit-linear-gradient(to top, #40aec7, #23587e, #40aec7);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
    }

    
  
  
  
  .trend{
    display: flex;
  }

  .post{
    margin: 0px 5px 0 10px;
  }
  .aboutus{
    display: flex;
    justify-content: space-between;
  }
  .aboutus .intro{
    height: 450px;
    width: 24%;
    border:  1px solid rgba(112, 112, 112, 0.3);
    border-radius: 180px;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: 0.3s linear;
  }
  .aboutus .intro:hover{
    background-color: rgba(112, 112, 112, 0.5);
   color: #fff;
   font-weight: 600;
  }

  .aboutus-text{
    text-align: center;
    width: 80%;
  }
  .aboutus-text hr{
   width: 50%;
   margin: 20px auto; 
   
  }
  .aboutus-text p{
   margin: 20px 0;
  font-weight: 300;
  font-size: 15pt;
  }
  

  .paragraph{
    margin: 0 0 10px 0;
    width: 90%;
  }



  .footer{
      background-color: #22577e;
      height: 600px;
      width: 100%;
      display: flex;
      align-items: center; 
      justify-content: center;
  }
  
  
  
  
  .test{
    height: 1000px;
  }
  #btt {
    position: fixed;
    background-color: #e0e0e0;
    bottom: 20px;
    right: 20px;
    display: none;
    border:0px solid #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
 
  #btt i {
    font-style: normal;
    font-weight: 500;
    font-size: 20pt;
    color: #4e4e4e;
}


.update{
  background-color: #ffffff;
  float: left;
  height: 50vh;
  position: relative;
  left: 40px;
  top: 90px;
  flex-direction: column;
  position: relative;
  left: 15px;
  text-align: center;
  @media (max-width: 767px){  /* <767px，側邊欄消失 */
    display: none;}
}
.update h1{
  background: rgba(236,111,43,0.8);
  color: #fefefe;
  
  font-size: 18pt;
  height: 50px;
  display: flex;
  align-items: center; 
      justify-content: center;
}
.update .upre{
color: #4e4e4e;
text-decoration: none;
transition: none;

}
.update li{
  list-style-type: square;  
  text-indent: -1em;
}
.update .upre:hover{
  text-decoration: none;
  background-color: #ffffff;
  color:#4e4e4e;
  font-weight: 500;
  }

.updaterecord{
margin: 30px 0 30px 15px;
font-size: 15pt;
  }


