main{
    height: 800px;
}


/* categories start */
.categories{
    margin-top: 80px; 
    width: 80vw;
   
}
.categories .type{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64vw;
    height: 60px;
    border-radius: 50px;
    border: 1px solid rgba(78,78,78, 0.3);
}

.categories li{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px 10px;
    height: 80px;
}

.categories a{
    text-decoration: none;
    color: #4e4e4e;
}

.categories #articles-container{
    height:80vh;
}

.categories .articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.categories .articles div{
    width: 60vw;
    height: 80px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid rgba(78,78,78,.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories .type a{
    font-size: 12pt;  
    white-space: nowrap; 
    border-radius: 30px;
    padding: 10px 20px;
}

.categories .type a.active {
    background-color: #fbaf59;
    color: white; 

}

.categories h2{
    height: 50px;
    display: flex;
    align-items: center;
}

.categories h2 a{
    font-weight: 800;
    margin: 10px 0;
    font-size: 13pt;
    letter-spacing: 0;
}

.categories p a{
    font-weight: 400;
    font-size: 12pt;
    line-height: 30px;

}

.select-container{
    display: none;
}

/* categories end */


/* rwd start */
@media screen and (max-width:1366px){

    main{
        height: 1750px;
    }
    /*  沒有這個footer會蓋住main why?? */

    /* categories start */
    .categories ul{
        display: none;
    }
    .categories .type{
        justify-content: left;
        padding-left: 20px;
    }
    .categories .articles{
        margin-top: 0;
    }
    

    .categories .articles div {
        padding: 15px;
        margin: 15px 0 0;
        height: 150px;
    }
    
    .select-container{
        
        display: flex;
        justify-content: center;
        position: relative;
        min-width: 250px;
        height: 50px;
    }

    .select-container .select-box{
        border: none;
        appearance: none;
        border-radius: 15px;
        padding: 0 30px 0 30px;
        border:2px solid #fbaf59;
        width: 85%;
        color: #4e4e4e;
        font-size: 15pt;
        
    }


    .select-container p{
        pointer-events: none;
        font-size: 12pt;
        width: 50px;
        height: 100%;
        position: absolute;
        right: 30px;
        transform: rotate(180deg);
        border-radius: 15px;
        color: #4e4e4e;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   
    /* categories end */


    /* articles start */
    .articles div{
        height: 360px;
        
    }
    
    


    .articles div p{
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        overflow: hidden;
    }

    /* articles end */
    
} 




/* rwd end */ 